.countdown {
  height: auto;
  background-color:#3498db;
  text-align: center;
  padding: 4rem 0;
}
.countdown h3 {
  margin: 0;
  font-size: 2rem;
  color: #444;
  padding-bottom: 1rem;
}

.countdown-timer > div {
  display: inline-block;
  padding: 0 .5rem;
  text-align: center;
  position: relative;
}

.countdown-timer > div + div::before {
  content: ':';
  color: white;
  font-size: 2rem;
  position: absolute;
  top: 1rem;
  left: -3px;
}

.countdown-timer span {
  display: block;
}

.countdown-timer span:first-child {
  font-size: 3.8rem;
  color: white;
  font-weight: bold;
}

.countdown-timer span:last-child {
  font-size: 1.5rem;
  color: #444;
}

@media only screen and (min-width: 768px) {

}