.sponsor,
.drinks {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
}

.drinks div,
.sponsor div {
  padding: 10px 0;
}

.drinks p,
.sponsor p {
  padding: 0 25px;
}

.sponsor h3,
.drinks h3 {
  color: var(--orange);
}

.drinks-carlsberg {
  background-color: #007840;
}

.drinks {
  background-color: bisque;
}

.drinks-roku {
  padding: 1rem 0;
}

@media only screen and (max-width: 768px) {
  .cheers-img{
    width: 100%;
  }
}
