.banner-container {
  position: relative;
  overflow: hidden;
}

.banner-container img {
  position: absolute;
  width: 100%;
  height: auto;
}

.banner-text {
  position: absolute;
  font-size: 70px;
  font-weight: bold;
  text-align: center;
  padding-top: 120px;
  left: 50%;
  transform: translateX(-50%);
}

.headline {
  background-color: transparent !important;
  height: 100vh !important;
  color: #000;
}

/* .headline span:nth-of-type(1) {
  color: red !important;
}

.headline span:nth-of-type(2) {
  color: blue !important;
}

.headline span:nth-of-type(3) {
  color: green !important;
}

.headline span:nth-of-type(4) {
  color: yellow !important;
}

.headline span:nth-of-type(5) {
  color: orange !important;
}
.headline span:nth-of-type(6) {
  color: violet !important;
} */

@media only screen and (max-width: 768px) {
  .banner-text {
    width: 350px;
    font-size: 45px;
  }
  .banner-container img {
    width: auto;
    left: -50%;
  }
}