.setlist {
  background-color: #51C878;
  text-align: center;
  padding: 50px 0;
}
.setlist h2 {
  font-size: 32px;
}
.setlist h3 {
  font-size: 18px;
}
.setlist p {
  font-size: 16px;
}
.setlist a {
  font-size: 14px;
}
.setlist-box {
  position: relative;
  margin: auto;
  width: 40%;
  padding: 0.5em 2em;
  background-color: #FFF;
  border-radius: 25px;
}
.setlist-smallbox {
  position: absolute;
  height: 7px;
  width: 85%;
  background-color: #ff9a2d;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  border-radius: 35px 35px;
}
.song-div {
  position: relative;
  min-height: 1px;
  /* padding-right: 15px;
  padding-left: 15px; */
  padding: 13px 15px 15px 15px;
  text-align: center;
  font-size: auto;
  word-wrap: break-word;
}
.song-div h3, .song-div p {
  margin: 0 auto;
}
.song-div:after {
  content: " ";
  display: block;
  position: absolute;
  height: 2px;
  background: black;
  width: 5%;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
  margin: 10px 0;
}
.links {
  font-size: 14px;
  text-decoration: none;
}
.card{
  opacity: 1;
  position: relative;
  transition:  0.4s ease-out;
  top: -85px;
}
.setlist .collapse.show .card{
  transform: translateY(2%);
  transition:  0.35s ease-in;
  opacity: 1;
}
.setlist .collapse.show .card .card-body{
  transform: translateY(4%);
  display: block;
}
.setlist .card .card-body{
  display: none;
}
.setlist .collapsing{
  position: relative;
  overflow: hidden;
  transition:  0.4s ease-out;
}
hr {
  margin-top: 1rem;
  /* margin-bottom: 1rem; */
}
.setlist .btn {
  width: 100%;
  background-color: white;
  border: none;
  cursor: pointer;
  font-family: inherit !important;
}
#setlist-expand {
  width: 4%;
  margin-left: 5px;
}
.hidden {
  display: none;
}
.setlist .btn:focus{
  outline: none;
}
.setlist-closebtn {
  padding-top: 40px;
  font-size: 20px;
}

@media only screen and (max-width: 768px) {
  .setlist-box {
    margin: auto;
    width: 85%;
  }
  .setlist-smallbox {
    width: 70%;
  }
  #setlist-expand {
    height: 10%;
    width: 6%;
    margin-left: 5px;
  }
}
