.map-container {
  background-color: #9a99d0;
  text-align: center;
}

.map-canvas {
  padding-bottom: 50px;
}

.map-container h2 {
  margin-top: 0;
  font-size: 42px;
  padding-top: 20px;
  /* color: #660066; */
}

@media only screen and (max-width: 768px) {
  .map-container iframe {
    width: 85%;
    height: 60vh;
  }
}
