.spotify {
  text-align: center;
  background: linear-gradient(180deg,#6e6b6a,#5d5b5b, #1d1d1d)
}
.spotify h2 {
  margin-top: 0;
  font-size: 3em;
  color: #1ED761;
}

.spotify p {
  color: #1ED761;
  font-weight: 300;
}

.spotify-playlist {
  position: relative;
  padding-bottom: 40vh;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: 45vh;
}

.spotify-playlist iframe,
.spotify-playlist object,
.spotify-playlist embed {
  position: absolute;
  top: 0;
  left: 20%;
  width: 60%;
  height: 100%;
}

@media only screen and (max-width: 768px) {
  .spotify-playlist {
    height: 55vh;
  }
  .spotify-playlist iframe, .spotify-playlist object, .spotify-playlist embed {
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
  }
  .spotify p {
    padding: 0 30px;
  }
}
