:root {
  --orange: #E34234;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h4 {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.padding {
  padding: 1rem;
}

.list-inline {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  font-family: "Roboto";
  font-size: 20px;
}

.planTime, .planTopic{
  text-align: center;
  font-size: 20px;
  /* font-family: "Roboto"; */
}

.list-unstyled {
  margin: 0;
  list-style: none;
  padding: 0;
}

.list-inline li + li {
  margin-top: .5rem;
}

@media (min-width: 768px) {
  .list-inline li {
    display: inline-block;
  }

  .list-inline li + li {
    margin-top: 0;
    margin-left: 1rem;
    padding-left: 1rem;
  }
}

#notification {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  padding: 1rem;
  color: white;
  background-color: #202020;
  border-radius: 4px 4px;
}

#notification button {
  padding: .25rem .5rem;
  color: white;
  background-color: var(--orange);
  border: 1px solid white;
  border-radius: 2px 2px;
  float: right;
}