.agenda {
  background-color: #E1AD01;
  width: 100%;
  padding: 2em 0;
}
.agenda .heading {
  text-align: center;
  color: black;
  font-size: 40px;
  font-weight: bold;
  padding: 0 15px;
}
.agenda .heading2 {
  text-align: center;
  color: black;
  font-size: 30px;
  font-weight: bold;
  padding: 0 15px;
}
.agenda h2 {
  font-size: 2rem;
  text-align: center;
}
.agenda .list-inline {
  text-align: center;
  font-family: inherit;
}
.box {
  margin: 0 auto;
  width: 40%;
  padding: 0.5em 1em;
}
.smallbox{
  height: 7px;
  width: 95%;
  background-color: #ff9a2d;
  margin: 0 auto;
  position: relative;
  top: -8px;
  border-radius: 35px 35px;
}
.border {
  border-radius: 25px 25px 0 0;
  border-radius:  25px;
  background-color: #ffffff;
}
.event-agenda .col {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
  font-size: 1.3rem;
}
.event-agenda{
  width: 100%;
}
.event-agenda p {
  font-size: 1rem;
}
.event-details:after {
  content: " ";
  display: block;
  position: absolute;
  height: 2px;
  background: black;
  width: 5%;
  left: 47%;
}
.event-agenda:last-of-type {
  padding-bottom: 2em;
}
.event-agenda:nth-child(1){
  display: block;
}
.card{
  opacity: 1;
  position: relative;
  transition:  0.4s ease-out;
  top: -85px;
}
.collapse.show .card{
  transform: translateY(2%);
  transition: 0.35s ease-in;
  opacity: 1;
}
.collapse.show .card .card-body{
  transform: translateY(9%);
  display: block;
}
.card .card-body{
  display: none;
}
.collapsing{
 position: relative;
 overflow: hidden;
 transition:  0.4s ease-out;
}
hr {
  margin-top: 1rem;
  /* margin-bottom: 1rem; */
}
.agenda .btn {
 width: 100%;
 background-color: white;
 border: none;
 cursor: pointer;
 font-family: inherit;
}
#expand {
  width: 7%;
}
.hidden {
  display: none;
}
.img-wrap{
  text-align: center;
  padding: 10px;
}
.agenda .btn:focus{
  outline: none;
}
.closebtn {
  padding-top: 40px;
  font-size: 20px;
}

img#expand.expandBtn{
  width: 3%;
  margin-left:5px;
}

.btntextalign{
  display: flex;
  justify-content: center;
}


@media only screen and (max-width: 768px) {
  .box {
    margin: auto;
    width: 85%;
  }
  .agenda h2 {
    margin: 15px;
  }
  .img-wrap img {
    width: 100%;
    margin: 0 auto;
  }
  img#expand.expandBtn{
    height: 10%;
    width: 5%;
  }
}
